/* custom */
.brand-image{
  width: 70%;
  height: 300px;
  object-fit: cover;
}
.blog-image{
  width: 410px;
  height: 240px;
  object-fit: cover;
}

.breadpanah{
  color: #ffffff;
  padding: 4px 7px 0 15px;
}

.visimisi{
  text-align: center;
  padding: 0% 26% 0% 26%;
}
.visimisi p {
  color: #083d59;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .visimisi {
    text-align: center;
  padding: 0 10px 0 10px ; } }
@media (max-width: 767px) {
  .visimisi {
    text-align: center;
  padding: 0 10px 0 10px ; } }

.deskripsi-karir{
  color: #000;
}

.teamimage{
  width: 350px;
  height: 470px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .teamimage{
    width: 350px;
    height: 400px;
    object-fit: cover;
  }
}

.paragrap-text{
  margin-bottom: 30px;
}

.iklan{
  position: relative;
  z-index: 1;
}

.iklan::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.close-btn {
  cursor: not-allowed;
  color: #b8b8b8;
  font-size: 14px;
  font-weight: 700; }
  .close-btn i {
    margin-left: 5px; }

    .career-img-wrapper{
      text-align: center;
      padding-right:  60px;
      margin-bottom: 30px;
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .career-img-wrapper {
        padding-right: 0;} }
    @media (max-width: 767px) {
      .career-img-wrapper {
        padding-right: 0} }


.plan-sub1{
  text-align: center;
}
.plan-sub2{
  text-align: center;
}
.plan-sub3{
  text-align: center;
  color: #fff;
}

.plan-price1 {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 35px; }
.plan-price2 {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 35px; }
.plan-price3 {
  color: #adbbc2;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 35px; }

  .artikel-isi
  {
    margin-bottom: 55px;
  }
  .artikel-isi img{
    width: 100%;
    object-fit: cover;
  }
  .artikel-isi p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    font-family: "GT Walsheim Pro";
    color: #222;
    margin-bottom: 22px; }
    .artikel-isi li{
    font-size: 18px;
    list-style-type: square;
    }
    .artikel-title{
      font-size: 33px;
      margin-bottom: 20px;
    }
    @media (max-width: 768px) {
      .artikel-title {
        font-size: 22px;
        margin-bottom: 20px; }
    }
    .img-kategori {
      width: 100%; 
      height: 30%;
      object-fit: cover;}
      @media only screen and (min-width: 992px) and (max-width: 1200px) {
        .img-kategori {
          max-width: 100%;
          height: auto; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .img-kategori {
          max-width: 100%;
          height: auto;; } }
      @media (max-width: 767px) {
        .img-kategori {
          max-width: 100%;
          height: auto; } }