//karir-wrapper
.karir-wrapper {
    position: relative;
    z-index: 2;
    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        background: $heding;
        left: 0;
        top: 0;
        width: 100%;
        height: 0;
        z-index: 1;
        @include transition(0.3s);
    }
    .text-content {
        position: absolute;
        z-index: 2;
        left: 40px;
        bottom: -200px;
        opacity: 0;
        @include transition(0.5s);
        h6 {
            color: #99adb8;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 10px;
        }
        h2 {
            color: $white;
            font-size: 40px;
            margin-bottom: 64px;
            @media #{$laptop} {
                font-size: 30px;
                margin-bottom: 45px;
            }
            @media #{$lg} {
                font-size: 30px;
                margin-bottom: 25px;
            }
            @media #{$md} {
                font-size: 24px;
                margin-bottom: 45px;
            }
            @media #{$xs} {
                font-size: 20px;
                margin-bottom: 30px;
            }
        }
        a {
            color: $theme-color;
            font-size: 14px;
            font-weight: 700;
            i {
                margin-left: 5px;
            }
            &:hover {
                color: $white;
            }
        }
    }
    &:hover {
        &::before {
            height: 100%;
        }
        .text-content {
            top: 50px;
            bottom: auto;
            opacity: 1;
        }
    }
}
.select-job-area {
    display: inline-block;
    .job-select {
        color: $heding;
        font-size: 16px;
        font-weight: 700;
        border: 1px solid rgb(242, 242, 242);
        padding: 25px 60px 25px 30px;
        line-height: 9px;
        &::after {
            border: 0;
            font-weight: 300;
            right: 30px;
            top: 60%;
            transform: translateY(-52%);
            z-index: 1;
            -webkit-transform: translateY(-52%);
            -moz-transform: translateY(-52%);
            -ms-transform: translateY(-52%);
            -o-transform: translateY(-52%);
        }
        &.open {
            &::after {
                top: 48%;
                transform: rotate(-180deg);
                -webkit-transform: rotate(-180deg);
                -moz-transform: rotate(-180deg);
                -ms-transform: rotate(-180deg);
                -o-transform: rotate(-180deg);
            }
        }
    }
}

.job-position {
    h6 {
        color: $body-text-color;
        font-weight: 400;
    }
    h4 {
        font-size: 24px;
    }
}

.apply-btn {
    color: $heding2;
    font-size: 14px;
    font-weight: 700;
    i {
        margin-left: 5px;
    }
    &:hover {
        color: $heding;
    }
}
.board-border {
    border-top: 1px solid #f2f2f2;
    padding-top: 38px;
    padding-bottom: 2px;
}

.preview-more {
    color: $heding;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    padding: 20px 40px;
    background: $white;
    border: 2px solid rgb(237, 237, 237);
    @include transition(0.3s);
    display: inline-block;
    &:hover {
        color: $white;
        background: $heding;
        border-color: $heding;
    }
}

.contact-borders {
    border-top: 1px solid #f2f2f2;
}

.form-btn2 {
    background: $heding;
    &:hover {
        background: $theme-color;
    }
}

.karir-img-wrapper {
    @media #{$lg} {
        padding-right: 0;
    }
    @media #{$md} {
        padding-right: 0;
    }
    @media #{$xs} {
        padding-right: 0;
    }
}
