.semi-title {
    color: $heding2;
    font-size: 14px;
    letter-spacing: 0px;
}

.sect-title {
    font-size: 60px;
    line-height: 1.17;

    span {
        font-weight: 100;
    }

    @media #{$lg} {
        font-size: 45px;
    }

    @media #{$md} {
        font-size: 45px;
    }

    @media #{$xs} {
        font-size: 30px;
    }

    .bottom-shape::before {
        left: 0;
        top: 63%;
    }
}

.paragraph-title {
    color: $body-text-color;
    font-size: 18px;
    line-height: 28px;

    strong {
        color: $heding;
        font-weight: 700;
    }
}

.semi-grey {
    color: #92aab6;
}


.semi-title2 {
    color: $theme-color2;
    font-size: 14px;
    letter-spacing: 0px;
    display: inline-block;
    position: relative;
    z-index: 1;

    .line-one {
        margin-right: 10px;
    }

    .line-two {
        margin-left: 10px;
    }
}

.sect-title2 {
    font-size: 60px;
    line-height: 1.1;
    color: $heding3;

    span {
        font-weight: 100;
    }

    @media #{$lg} {
        font-size: 45px;
    }

    @media #{$md} {
        font-size: 45px;
    }

    @media #{$xs} {
        font-size: 30px;
    }

    .bottom-shape::before {
        top: 70%;
    }
}

.section-title2 {
    .semi-title2 {
        margin-bottom: 13px;
        line-height: 1;
    }

    .sect-title2 {
        margin-bottom: 48px;
    }
}

.work-process-area {
    &.home-4 {
        .work-process-area-bg2 {

            background: #e7eef2;
            padding: 120px 60px 90px 60px;
            position: relative;
            z-index: 2;

            .container {
                h2.style-text {
                    font-size: 140px;
                    line-height: 1;
                    font-weight: 700;
                    background: linear-gradient(to top, #fff 0%, #010608 100%);
                    background: linear-gradient(0deg, rgba(2, 0, 36, 0) 0%, rgba(255, 255, 255, .32816876750700286) 0%, rgba(0, 0, 0, .20772058823529416) 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    top: 85px;
                    left: 5px;
                    z-index: -1;
                    @media(max-width:768px){
                        font-size: 100px;
                    }
                    @media(max-width:576px){
                        font-size: 60px;
                    }
                }

                .section-title {
                    .semi-title {
                        &.semi-grey {
                            font-size: 14px;
                            font-weight: 700;
                            color: #0030B8;
                        }

                    }

                    .sect-title {
                        color: #333333;
                    }
                }

                .single-work {
                    display: flex;
                    align-items: center;
                    @media(max-width:450px){
                        display: block;
                        text-align: start;
                    }
                    .icon {
                        width: 50px;
                    }
                    h5{
                        @media(max-width:400px){
                            font-size: 14px;
                        }
                    }

                    h4 {
                        color: #333333;
                    }
                }
            }
        }
    }
}

.home-4 {
    border: none;

    .container {
        .section-title {
            .semi-grey {
                color: #0030b8 !important;
            }
            .sect-title{
                color: #333333;
            }
        }
    }
}    

.team-area{
    &.home-4{
        background: none;
        .container{
            .section-title{
                h6{
                    color: #0030B8;
                }
            }
        }
    }
}
.contact-area{
    &.home-4{
        background-color: #E7EEF2;
        .container{
            .contact-wrapper{
                .section-title{
                    h6{
                        color: #0030B8;
                    }
                }
            }
            .contact-input-wrapper{
                .section-title{
                    h6{
                        color: #0030B8;
                    }
                }
                button{
                    background-color: #0030B8;
                    border-radius: 30px;
                    &:hover{
                        color: #0030B8;
                        background-color: #fff;
                    }
                }
            }
        }
    }
}
.blog-area{
    &.home-4{
        .container{
            .section-title{
                h6{
                    color: #0030B8;
                }
            }
        }
    }
}
.core-feature-area2{
    &.home-4{
        background-color: #E7EEF2;
        .container{
            .tab-content{
                background: #fff;
            }
        }
    }
}
.blog-area{
    &.home-4.home-4_onepage{
        background-color: #E7EEF2;
    }
}
.contact-area{
    &.home-4.home-4_onepage{
        background: none;
    }
}